html {
  min-height: 100vh;
}
html body {
  background-color: whitesmoke !important;
}
html body .header {
  width: 100%;
  background-color: whitesmoke;
  color: navy;
  text-shadow: 2px 2px lightblue;
}
html body .header h1 {
  font-weight: bold;
}
html body .app {
  padding: 15px;
  width: 100%;
  background-color: #ccffff;
  color: black;
  background-image: linear-gradient(to right, #ccffff, silver) !important;
  background-image: url("../images/MaxPixel.net-Green-Texture-Background-Triangle-Low-Poly-1239778.jpg") !important;
  background-repeat: repeat-y;
  background-size: 100%;
}
html body .app form,
html body .app .language_settings {
  color: #8f8f8f;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 25px;
}
html body .app p input {
  width: 100%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
}
html body .app .yourBMI {
  text-align: center;
  margin-top: 50px;
  font-size: 200%;
  color: white;
}
html body .app .infoBMI table {
  width: 100%;
  font-size: 20px;
  background-color: #72bcd4;
  color: #333333;
  opacity: 0.75;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html body .app .infoBMI table th,
html body .app .infoBMI table td {
  padding: 2.5px 10px;
}
html body .app .infoBMI table tr:first-child {
  color: whitesmoke;
  border-radius: 25px;
}
html body .app .infoBMI table tr:not(:first-child):hover {
  background-color: #8080ff !important;
  color: navy;
  transition: 0.5s;
}
html body .app .infoBMI table tr:nth-child(even):not(:first-child) {
  background-color: #d4ebf2;
}
html body .app .infoBMI table tr:nth-child(odd):not(:first-child) {
  background-color: #c1e1ec;
}
html body .footer {
  width: 100%;
  background-color: whitesmoke;
  color: dimgray;
  text-align: center;
  margin-top: 15px;
}
html body .footer a {
  display: block;
}
