// out: style.css

@mainColor: black;

body {
  background-color: whitesmoke !important;

  .header {
    .ribbon(lighten(@mainColor, 25%), whitesmoke);
  }

  .app {
    padding: 15px;
    .ribbon(lighten(@mainColor, 50%), @mainColor);
    background-image: linear-gradient(to right, gray, silver) !important;
    p {
      input {
        width: 50%;
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
      }
    }
    .yourBMI {
      text-align: center;
      font-size: 200%;
    }
  }

  .footer {
    .ribbon(darken(@mainColor, 15%), whitesmoke);
    text-align: center;
  }
}

.ribbon(@back-color, @font-color) {
  width: 100%;
  background-color: @back-color;
  color: @font-color;
}
