// out: style.css

.colors(@backColor, @fontColor) {
  background-color: @backColor;
  color: @fontColor;
}

.ribbon(@backColor, @fontColor) {
  .colors(@backColor, @fontColor);
  width: 100%;
}

.buttons(@radius, @boxShadowPixels, @boxShadowColor) {
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
  box-shadow: @boxShadowPixels*2 @boxShadowPixels*2 @boxShadowPixels/2 @boxShadowColor;
  transition: 0.5s;
}

.navbarButtons(@active) {
  transition: 0.5s;

  & when(@active = true) {
    .buttons(15px, 2.5px, black);
    .colors(darken(whitesmoke, 30%), lighten(black, 10%));
  }

  & when(@active = false) {
    .buttons(25px, 2.5px, black);
    .colors(darken(whitesmoke, 15%), lighten(black, 20%));
    box-shadow: 2.5px 2.5px 5px darkcyan;
  }
}

@media only screen and (max-width: 750px) {
  body {
    margin-top: 50px !important;

    .app {
      background: linear-gradient(to right, darkcyan, seagreen) !important;

      p {
        input {
          font-size: 20px !important;
        }
      }
    }
  }

}

html {
  min-height: 100vh;
  background-color: whitesmoke !important;

  body {

    .header {
      .ribbon(whitesmoke, navy);
      text-shadow: 2px 2px lightblue;

      h1 {
        font-weight: bold;
      }
    }

    .navbar {
      background: linear-gradient(90deg, darken(navy, 15%), darken(cyan, 15%), darken(darkcyan, 15%));
      padding: 5px;
      border: none;
      border-radius: 0px;
      margin-bottom: 0px;

      div {
        ul {
          li {
            button {
              .buttons(0px, 0px, none);
              color: darken(whitesmoke, 15%);
              font-size: 20px;
              padding: 10px;
              background: none;
              border: none;
              margin-right: 10px;

              &:hover {
                .navbarButtons(false);
              }
            }

            &.active {
              button {
                .navbarButtons(true);

                &:hover {
                  .navbarButtons(false);
                }
              }
            }
          }
        }
      }
    }

    .app {
      width: 100%;
      padding: 15px;
      background: linear-gradient(to right, darkcyan, seagreen);
      background-image: url("../images/background.jpg");
      background-repeat: repeat-y;
      background-size: 100%;

      form, .language_settings {
        color: darken(whitesmoke, 40%);
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 25px;
      }

      p {
        input {
          width: 100%;
          height: 75px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          font-size: 30px;
        }
      }

      .yourBMI {
        text-align: center;
        margin-top: 25px;
        font-size: 200%;
        color: whitesmoke;
      }

      .infoBMI {
        table {
          .colors(darken(lightblue, 15%), lighten(black, 20%));
          width: 100%;
          font-size: 20px;
          opacity: 0.75;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          th, td {
            padding: 2.5px 10px;
          }

          tr {
            &:first-child {
              color: whitesmoke;
              border-radius: 25px;
            }

            &:not(:first-child):hover {
              .colors(lighten(navy, 50%), navy) !important;
              transition: 0.5s;
            }

            &:nth-child(even):not(:first-child) {
              background-color: lighten(lightblue, 10%);
            }

            &:nth-child(odd):not(:first-child) {
              background-color: lighten(lightblue, 5%);
            }

            &.activeRow {
              background-color: red !important;
              color: whitesmoke;
              font-weight: bold;
            }
          }
        }
      }

      .definition {
        text-align: justify;
        padding: 15px;
        color: darken(whitesmoke, 10%);
        font-size: 20px;
      }
    }

    .footer {
      .ribbon(whitesmoke, dimgray);
      text-align: center;
      margin-top: 15px;

      a {
        display: block;
      }
    }
  }
}
