@media only screen and (max-width: 750px) {
  body {
    margin-top: 50px !important;
  }
  body .app {
    background: linear-gradient(to right, darkcyan, seagreen) !important;
  }
  body .app p input {
    font-size: 20px !important;
  }
}
html {
  min-height: 100vh;
  background-color: whitesmoke !important;
}
html body .header {
  background-color: whitesmoke;
  color: navy;
  width: 100%;
  text-shadow: 2px 2px lightblue;
}
html body .header h1 {
  font-weight: bold;
}
html body .navbar {
  background: linear-gradient(90deg, #000034, #00b2b3, #003e3e);
  padding: 5px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
html body .navbar div ul li button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 0px 0px none;
  transition: 0.5s;
  color: #cfcfcf;
  font-size: 20px;
  padding: 10px;
  background: none;
  border: none;
  margin-right: 10px;
}
html body .navbar div ul li button:hover {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 5px 5px 1.25px black;
  transition: 0.5s;
  background-color: #cfcfcf;
  color: #333333;
  box-shadow: 2.5px 2.5px 5px darkcyan;
}
html body .navbar div ul li.active button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 5px 5px 1.25px black;
  transition: 0.5s;
  background-color: #a9a9a9;
  color: #1a1a1a;
}
html body .navbar div ul li.active button:hover {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 5px 5px 1.25px black;
  transition: 0.5s;
  background-color: #cfcfcf;
  color: #333333;
  box-shadow: 2.5px 2.5px 5px darkcyan;
}
html body .app {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, darkcyan, seagreen);
  background-image: url("../images/background.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}
html body .app form,
html body .app .language_settings {
  color: #8f8f8f;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 25px;
}
html body .app p input {
  width: 100%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
}
html body .app .yourBMI {
  text-align: center;
  margin-top: 25px;
  font-size: 200%;
  color: whitesmoke;
}
html body .app .infoBMI table {
  background-color: #72bcd4;
  color: #333333;
  width: 100%;
  font-size: 20px;
  opacity: 0.75;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html body .app .infoBMI table th,
html body .app .infoBMI table td {
  padding: 2.5px 10px;
}
html body .app .infoBMI table tr:first-child {
  color: whitesmoke;
  border-radius: 25px;
}
html body .app .infoBMI table tr:not(:first-child):hover {
  background-color: #8080ff !important;
  color: navy !important;
  transition: 0.5s;
}
html body .app .infoBMI table tr:nth-child(even):not(:first-child) {
  background-color: #d4ebf2;
}
html body .app .infoBMI table tr:nth-child(odd):not(:first-child) {
  background-color: #c1e1ec;
}
html body .app .definition {
  text-align: justify;
  padding: 15px;
  color: #dcdcdc;
  font-size: 20px;
}
html body .footer {
  background-color: whitesmoke;
  color: dimgray;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
html body .footer a {
  display: block;
}
