<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Kalkulator BMI</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <!-- Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="BMI_App" ng_controller="BMI_Controller">
        <div class="header container">
            <h1>{{ pageTitle }}</h1>
        </div>
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button ng-click="page='home'">
                            <span class="glyphicon glyphicon-home"></span>
                            Home
                        </button>
                    </li>
                    <li>
                        <button ng-click="page='info'">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Info
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="app container" ng-switch="page">
            <form class="language_settings">
                 <img src="assets/images/iconfinder_PL_167782.png" alt="(Polish Flag)">
                 Polski <input type="radio" ng-model="lang" ng-change="changeLanguage()" value="pl" checked="checked">
                 <img src="assets/images/iconfinder_US_167805.png" alt="(American Flag)">
                 English <input type="radio" ng-model="lang" ng-change="changeLanguage()" value="eng">
            </form>
            <div ng-switch-when="home">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <input  type="number"
                                    class="form-control"
                                    placeholder="{{ weightPlaceholder }}"
                                    ng-model="weight"
                                    min="0"
                                    step="1">
                        </p>
                        <p>
                            <input  type="number"
                                    class="form-control"
                                    placeholder="{{ heightPlaceholder }}"
                                    ng-model="height"
                                    min="0"
                                    step="1">
                        </p>
                        <p class="yourBMI" ng-if="(weight>0) && (height>0)">
                            {{ yourBMI_label }}
                            {{ (weight/(height/100*height/100) | number : 2) }}
                        </p>
                    </div>
                    <div class="col-sm-6 infoBMI">
                        <table ng-switch="lang">
                            <tr>
                                <th>{{ tabHeadLabel[0] }}</th>
                                <th>{{ tabHeadLabel[1] }}</th>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[0][0] }}</td>
                                <td>{{ tableOfBMI[0][1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[1][0] }}</td>
                                <td>{{ tableOfBMI[1][1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[2][0] }}</td>
                                <td>{{ tableOfBMI[2][1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[3][0] }}</td>
                                <td>{{ tableOfBMI[3][1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[4][0] }}</td>
                                <td>{{ tableOfBMI[4][1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[5][0] }}</td>
                                <td>{{ tableOfBMI[5][1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[6][0] }}</td>
                                <td>{{ tableOfBMI[6][1] }}</td>
                            </tr>
                            <tr>
                                <td>{{ tableOfBMI[7][0] }}</td>
                                <td>{{ tableOfBMI[7][1] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-switch-when="info" class="definition">
                <p>{{ definitionOfBMI }}</p>
            </div>
        </div>
        <div class="footer container">
            <a href="https://www.maxpixels.net">{{ graphicsLinkLabel }}</a>
            <a href="https://www.iconfinder.com">{{ iconsLinkLabel }}</a>
            <p>© Mariusz Mazepa 2020</p>
        </div>
        <script type="text/javascript" src="assets/js/BMI_Controller.js"></script>
    </body>
</html>
