<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Kalkulator BMI</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <!-- Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body data-ng-app="" ng-init="lang='pl'">
        <div class="header container" ng-switch="lang">
            <h1 ng-switch-when="pl">Kalkulator wskaźnika BMI</h1>
            <h1 ng-switch-when="eng">BMI calculator</h1>
        </div>
        <div class="app container">
            <form class="language_settings">
                 <img src="assets/images/iconfinder_PL_167782.png" alt="(Polish Flag)">
                 Polski <input type="radio" ng-model="lang" value="pl" checked="checked">
                 <img src="assets/images/iconfinder_US_167805.png" alt="(American Flag)">
                 English <input type="radio" ng-model="lang" value="eng">
            </form>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <input  type="number"
                                class="form-control"
                                placeholder="{{ lang==='pl' ? 'waga w kilogramach' : 'weight in kilograms' }}"
                                data-ng-model="weight"
                                min="0"
                                step="1">
                    </p>
                    <p>
                        <input  type="number"
                                class="form-control"
                                placeholder="{{ lang==='pl' ? 'wzrost w centymetrach' : 'height in centimeters' }}"
                                data-ng-model="height"
                                min="0"
                                step="1">
                    </p>
                    <p class="yourBMI" ng-if="(weight>0) && (height>0)">
                        {{ (lang==='pl') ? "Twoje BMI: " : "Your BMI: " }}
                        {{ (weight/(height/100*height/100) | number : 2) }}
                    </p>
                </div>
                <div class="col-sm-6 infoBMI">
                    <table ng-switch="lang">
                        <tr>
                            <th ng-switch-when="pl">Zakresy wartości BMI</th>
                            <th ng-switch-when="pl">Znaczenie zakresu</th>
                            <th ng-switch-when="eng">Range of BMI values</th>
                            <th ng-switch-when="eng">Meaning of range</th>
                        </tr>
                        <tr>
                            <td ng-switch-when="pl">mniej niż 16</td>
                            <td ng-switch-when="pl">wygłodzenie</td>
                            <td ng-switch-when="eng">less than 16</td>
                            <td ng-switch-when="eng">starvation</td>
                        </tr>
                        <tr>
                            <td>16 - 16.99</td>
                            <td ng-switch-when="pl">wychudzenie</td>
                            <td ng-switch-when="eng">emaciation</td>
                        </tr>
                        <tr>
                            <td>17 - 18.49</td>
                            <td ng-switch-when="pl">niedowaga</td>
                            <td ng-switch-when="eng">underweight</td>
                        </tr>
                        <tr>
                            <td>18.5 - 24.99</td>
                            <td ng-switch-when="pl">wartość prawidłowa</td>
                            <td ng-switch-when="eng">correct value</td>
                        </tr>
                        <tr>
                            <td>25 - 29.99</td>
                            <td ng-switch-when="pl">nadwaga</td>
                            <td ng-switch-when="eng">overweight</td>
                        </tr>
                        <tr>
                            <td>30 - 34.99</td>
                            <td ng-switch-when="pl">I stopień otyłości</td>
                            <td ng-switch-when="eng">I degree of obesity</td>
                        </tr>
                        <tr>
                            <td>35 - 39.99</td>
                            <td ng-switch-when="pl">II stopień otyłości</td>
                            <td ng-switch-when="eng">II degree of obesity</td>
                        </tr>
                        <tr>
                            <td ng-switch-when="pl">powyżej 40</td>
                            <td ng-switch-when="pl">otyłość skrajna</td>
                            <td ng-switch-when="eng">more than 40</td>
                            <td ng-switch-when="eng">extreme obesity</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer container" ng-switch="lang">
            <a href="https://www.maxpixels.net" ng-switch-when="pl">Grafika w tle pobrana z www.maxpixels.net</a>
            <a href="https://www.maxpixels.net" ng-switch-when="eng">Background image downloaded from www.maxpixels.net</a>
            <a href="https://www.iconfinder.com" ng-switch-when="pl">Ikony flag pobrane z www.iconfinder.com</a>
            <a href="https://www.iconfinder.com" ng-switch-when="eng">Flag icons downloaded from www.iconfinder.com</a>
            <p>© Mariusz Mazepa 2020</p>
        </div>
    </body>
</html>
