<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Kalkulator BMI</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <!-- Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="header container">
            <h1>Kalkulator wskaźnika BMI</h1>
        </div>
        <div class="app container" ng-app="">
            <p><input type="text" placeholder="waga w kilogramach" ng-model="weight"></p>
            <p><input type="text" placeholder="wzrost w centymetrach" ng-model="height"></p>
            <p>{{weight}} : {{height/100}}^2 = {{weight/(height/100*height/100)}}</p>
        </div>
        <div class="footer container">
            © Mariusz Mazepa 2020
        </div>
    </body>
</html>
